<div class="container page wrapper-custom">
  <div class="row justify-content-center">
    <h1 class="text-xs-center text-center">Update Company Information</h1>

    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit(form.value)"
      class="mt-4 form-cont"
    >
      <fieldset class="form-group">
        <input
          type="text"
          class="form-control form-control-lg"
          placeholder="Company name"
          formControlName="name"
          (focus)="showNameError = true"
          (blur)="showNameError = false"
        />
        @if(showNameError && form.get('name')?.invalid &&
        [form.get('name')?.dirty || form.get('name')?.touched]){
        @if(form.get('name')?.errors?.["required"]){
        <div class="text-muted pt-2">Company name is required.</div>
        } }
      </fieldset>

      <fieldset class="form-group">
        <input
          type="text"
          class="form-control form-control-lg"
          placeholder="Keywords"
          formControlName="keywords"
          (focus)="showKeywordsError = true"
          (blur)="showKeywordsError = false"
        />
        @if(showKeywordsError && form.get('keywords')?.invalid &&
        [form.get('keywords')?.dirty || form.get('keywords')?.touched]){
        @if(form.get('keywords')?.errors?.["required"]){
        <div class="text-muted pt-2">Keywords is required.</div>
        } }
      </fieldset>

      <fieldset class="form-group">
        <input
          type="text"
          class="form-control form-control-lg"
          placeholder="Bid amount"
          formControlName="bidAmount"
          (focus)="showBidAmountError = true"
          (blur)="showBidAmountError = false"
        />
        @if(showBidAmountError && form.get('bidAmount')?.invalid &&
        [form.get('bidAmount')?.dirty || form.get('bidAmount')?.touched]){
        @if(form.get('bidAmount')?.errors?.["required"]){
        <div class="text-muted pt-2">Bid amount is required.</div>
        } @if(form.get('bidAmount')?.errors?.["min"]){
        <div class="text-danger pt-2">
          Bid amount must be at least 10 the minimum amount.
        </div>
        } @if(form.get('bidAmount')?.errors?.["invalidNumber"]){
        <div class="text-danger pt-2">Bid amount must be a valid number.</div>
        }}
      </fieldset>

      <fieldset class="form-group">
        <input
          type="text"
          class="form-control form-control-lg"
          placeholder="Campaign fund"
          formControlName="campaignFund"
          (focus)="showCampaignFundError = true"
          (blur)="showCampaignFundError = false"
        />
        @if(showCampaignFundError && form.get('campaignFund')?.invalid &&
        [form.get('campaignFund')?.dirty || form.get('campaignFund')?.touched]){
        @if(form.get('campaignFund')?.errors?.["required"]){
        <div class="text-muted pt-2">Campaign fund is required.</div>
        } @if(form.get('campaignFund')?.errors?.["invalidNumber"]){
        <div class="text-danger pt-2">
          Campaign fund must be a valid number.
        </div>
        } }
      </fieldset>

      <fieldset
        class="form-group form-group d-flex align-items-center gap-5 my-2"
      >
        <label class="lab-custom">Status:</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="statusOn"
            name="status"
            [value]="true"
            formControlName="status"
          />
          <label class="form-check-label" for="statusOn">On</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="statusOff"
            name="status"
            [value]="false"
            formControlName="status"
          />
          <label class="form-check-label" for="statusOff">Off</label>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <select id="town" formControlName="town" class="form-control">
          <option value="" disabled>Town</option>
          @for(town of towns; track town){
          <option [value]="town">{{ town }}</option>
          }
        </select>
      </fieldset>

      <fieldset class="form-group">
        <input
          type="text"
          class="form-control form-control-lg"
          placeholder="Radius (km)"
          formControlName="radius"
          (focus)="showRadiusError = true"
          (blur)="showRadiusError = false"
        />
        @if(showRadiusError && form.get('radius')?.invalid &&
        [form.get('radius')?.dirty || form.get('radius')?.touched]){
        @if(form.get('radius')?.errors?.["required"]){
        <div class="text-muted pt-2">Radius (in km) is required.</div>
        } @if(form.get('radius')?.errors?.["invalidNumber"]){
        <div class="text-danger pt-2">Radius must be a valid number.</div>
        }}
      </fieldset>

      <p>{{ companyMessage }}</p>

      <button
        type="submit"
        class="btn btn-lg mt-2 btn-custom"
        #submitButton
        [disabled]="form.invalid"
      >
        Update Company
      </button>
    </form>
  </div>
</div>
