<div class="container">
  <div class="row justify-content-center">
    <div class="d-flex justify-content-between">
      <h2>{{ product.name }}</h2>
      <button
        class="btn btn-outline-success"
        (click)="goToAddCompanyPage(product.id)"
      >
        Add Company
      </button>
    </div>

    @if(product.companies && product.companies.length > 0){ @for(company of
    product.companies; track company){
    <ng-container>
      <div class="col-lg-3 col-md-4 col-sm-6 m-4">
        <div class="d-flex flex-column align-items-center mx-auto mb-5">
          <div
            class="d-flex flex-column align-items-center card border shadow col-md-3 mx-auto card-body m-2"
          >
            <p>Company name: {{ company.name }}</p>
            <p>Keywords: {{ company.keywords }}</p>
            <p>Bid amount: {{ company.bidAmount }}</p>
            <p>Campaign fund: {{ company.campaignFund }}</p>
            <p>Status: {{ company.status ? "on" : "off" }}</p>
            <p>
              Town:
              {{ company.town }}
            </p>
            <p>Radius (km): {{ company.radius }}</p>

            <button (click)="deleteCompany(product.id, company.id)">
              delete
            </button>
            <button
              class="mt-4"
              (click)="goToUpdateCompany(product.id, company.id)"
            >
              update
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    } } @else {
    <ng-template>
      <div class="mt-5 d-flex flex-column align-items-center">
        <p class="fw-bold font-monospace text-muted">
          Looks like there are no companies here.
        </p>
        <p class="fw-bold font-monospace text-muted">
          Why not add your first one?
        </p>
      </div>
    </ng-template>
    }
  </div>
</div>
